/* tokens/component/badge.css */
@layer config {
  :root {
    --badge-color-border: transparent;
    --badge-border-radius: var(--radius-pill);
    --badge-border-style: solid;
    --badge-border-width: 0;
    --badge-font-size: var(--font-size-2xs);
    --badge-font-weight: var(--font-weight-control);
    --badge-padding-x: var(--spacing-xs);
    --badge-padding-y: var(--spacing-2xs);
  }
}
