/* tokens/component/breadcrumb.css */
@layer config {
  :root {
    --breadcrumb-color-border: var(--color-border);
    --breadcrumb-border-width: var(--border-width-normal);
    --breadcrumb-color-text: var(--color-text-muted);
    --breadcrumb-color-text-active: var(--color-text);
    --breadcrumb-color-separator: var(--color-text-muted);
    --breadcrumb-font-size: var(--font-size-xs);
    --breadcrumb-gap: var(--spacing-xs);
    --breadcrumb-separator: "/";
    --breadcrumb-padding: var(--spacing-xs);
  }
}
