/* tokens/component/button.css */
@layer config {
  :root {
    
    /* Border */
    --btn-border-radius: var(--radius-control);
    --btn-border-style: var(--border-style-solid);
    --btn-border-width: var(--border-width-normal);

    /* Color */
    --btn-color-bg:         var(--color-brand);
    --btn-color-bg-hover:   var(--color-brand-hover);
    --btn-color-border:     var(--color-brand);
    --btn-color-text:       var(--color-text-on-brand);
    --btn-color-text-hover: var(--color-text-on-brand);

    /* Typography */
    --btn-font-size: var(--font-size-sm);
    --btn-font-weight: var(--font-weight-control);
    
    /* Spacing */
    --btn-gap: var(--spacing-sm);
    --btn-padding: var(--spacing-control);

    /* Text decoration */
    --btn-color-text-decoration: transparent;
    --btn-color-text-decoration-hover: transparent;
    --btn-text-decoration-line: underline;

    /* Transitions */
    --btn-transition: var(--transition-normal);
  }
}
