/* tokens/component/embed.css */
@layer config {
  :root {
    /* Border */
    --embed-border:        var(--embed-border-width) var(--embed-border-style) var(--embed-color-border);
    --embed-border-width:  var(--border-width-normal);
    --embed-border-style:  var(--border-style-solid);
    --embed-color-border:  var(--color-border);

    /* Ratio */
    --embed-ratio:         var(--ratio-16-9);

    /* Visual */
    --embed-border-radius: var(--radius-none);
    --embed-box-shadow:    none;

    /* Layout */
    --embed-max-width:     100%;
  }
}
