/* tokens/component/link.css */
@layer config {
  :root {
    --link-color-text-decoration: initial;
    --link-color-text-decoration-hover: transparent;
    --link-text-decoration-line: underline;
  }
}
