/* tokens/component/nav.css */
@layer config {
  :root {
    /* Colors */
    --nav-color-text:        var(--color-text);
    --nav-color-text-hover:  var(--color-brand);
    --nav-color-text-active: var(--color-active);
    --nav-color-text-muted:  var(--color-text-muted);

    /* Layout */
    --nav-gap:               0px;
    --nav-padding-x:         var(--spacing-xs);
    --nav-padding-y:         var(--spacing-xs);

    /* Typography */
    --nav-font-size:         var(--font-size-text);
    --nav-font-size-title:   var(--font-size-md);
    --nav-font-weight-title: var(--font-weight-heading);
  }
}
